<!-- wp:template-part {"slug":"header","theme":"taulignan-pp","tagName":""} /-->

<!-- wp:cover {"dimRatio":50,"customOverlayColor":"#bfb0b5","isUserOverlayColor":false,"minHeight":524,"minHeightUnit":"px","isDark":false,"sizeSlug":"large","align":"full"} -->
<div class="wp-block-cover alignfull is-light" style="min-height:524px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#bfb0b5"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|x-large","left":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--x-large)"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|beige"}}},"spacing":{"padding":{"top":"var:preset|spacing|very-small","bottom":"var:preset|spacing|very-small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"}},"border":{"width":"1px"},"typography":{"lineHeight":"1"}},"textColor":"beige","fontSize":"x-large","fontFamily":"cabin","borderColor":"beige"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"layout":{"type":"constrained","contentSize":"80%"}} /-->

<!-- wp:block {"ref":3622} /-->

<!-- wp:template-part {"slug":"footer","theme":"taulignan-pp","tagName":"footer"} /-->