@use 'generic/variables' as *;
@use 'generic/mixins' as *;
@use 'breakpoints' as *;
@use 'fonts' as *;
@use 'layout' as *;
@use 'header' as *;
@use 'footer' as *;
@use 'carousel' as *;
@use 'gallery' as *;
@use 'medias' as *;
@use 'nav' as *;
@use 'loading' as *;
@use 'pages/home' as *;
@use 'buttons' as *;

/* ============================================================================
   STYLES POUR L'ÉDITEUR DE BLOCS WORDPRESS
   ============================================================================ */

.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}