// // ============================================================================
// // STYLES SWIPER
// // ============================================================================
@use 'breakpoints' as *;

.swiper-wrapper{
  height:100vh!important;

  @include max-width('md') {
    height:35vh!important;

    .swiper-slide{
      height:fit-content
    }
  }
}

// Styles responsives
@media (width <= 959px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 36px;
    height: 36px;
    margin-top: -18px;
    
    &::after {
      font-size: 14px;
    }
  }
  
  .swiper-button-next {
    right: 5px;
  }
  
  .swiper-button-prev {
    left: 5px;
  }
  
  .swiper-pagination {
    margin-top: 15px;
    
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 4px;
    }
  }
}
